.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  width: 750px
}
.style0,
.style1,
.style2,
.style3 {
  margin-left: 62px;
  margin-top: 70px;
  width: 622px;
  height: 266px
}
.style1,
.style2,
.style3 {
  margin-top: 38px
}
.style3 {
  margin-top: 39px
}
